@import './variables.scss';

html,
body {
  color: $grey13;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'UI Sans', Lato, sans-serif;
}

// Button reset
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
